@import "compass/reset";

//Test styles. Remove after complete.

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.875em;
  text-align: center;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.example {
  margin: 5px;
  padding: 10px;
  background-color: #b1b1b1;
  text-align: center;
}