.wade-slider {
  position: relative;
  overflow: hidden;
  &__outer {
    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
  &__item {
    float: left;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    border: none;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline: none;
    cursor: pointer;
    z-index: 1;
    &--left {
      left: 0;
      background-image: url(../img/prev.png);
    }
    &--right {
      right: 0;
      background-image: url(../img/next.png);
    }
  }
}
