.wade-slider {
  position: relative;
  overflow: hidden;
}
.wade-slider__outer:before, .wade-slider__outer:after {
  content: "";
  display: table;
}
.wade-slider__outer:after {
  clear: both;
}
.wade-slider__item {
  float: left;
}
.wade-slider__arrow {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: none;
  cursor: pointer;
  z-index: 1;
}
.wade-slider__arrow--left {
  left: 0;
  background-image: url(../img/prev.png);
}
.wade-slider__arrow--right {
  right: 0;
  background-image: url(../img/next.png);
}
